form.menu-form
{
	display: inline-flex;
	height: 1px;
	padding-top: 5px;
	padding-left: 5px;
}
nav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}
 
nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
nav ul li:first-child {
    border-left: none;
}

nav ul li:last-child {
    border-right: none;
}
 
nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}
